body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(213, 220, 239);
}
#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background: white;
    border-radius: 20px;
}
.container {
    width: 265px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}
.container h3{
    font-size: 20px;
}
.container p{
    font-size: 15px;
    color: rgb(130, 127, 127);
}
img{
    width: 265px;
    border-radius: 13px;
}